<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.altera.sbtgui.launch.hardware.Nios2HardwareLaunchConfiguration">
<stringAttribute key="byteStreamDeviceCableName" value="DE-SoC on localhost [USB-1]"/>
<stringAttribute key="byteStreamDeviceDeviceID" value="2"/>
<stringAttribute key="byteStreamDeviceInstanceID" value="0"/>
<booleanAttribute key="downloadProgram" value="true"/>
<stringAttribute key="elfFile" value="C:\Users\Estudiante\Desktop\ControlPanelQT\Quartus\software\char_onchip3\char_onchip3.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.altera.debug.cdi.gdb.plugin.Nios2GdbCdiDebugger"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="char_onchip3.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="char_onchip3"/>
<stringAttribute key="processorCableName" value="DE-SoC on localhost [USB-1]"/>
<stringAttribute key="processorDeviceIndex" value="2"/>
<stringAttribute key="processorInstanceId" value="0"/>
<booleanAttribute key="runProgram" value="true"/>
</launchConfiguration>
